.wrapper {
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 3px;
}
.positionTest {
    color: chocolate;
    font-size: 5px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}