.wrapper {
    width: 100%;
}
.imageList {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.imageList::-webkit-scrollbar {
    height: 10px;
    border: 1px solid #dac293;
}

.imageList::-webkit-scrollbar-track {
    /* background: #DACFB9; */
}

.imageList::-webkit-scrollbar-thumb {
    background: #cfa3b7;
    border-radius: 10px;
}
.imgConteiner {
    height: 250px;
    width: 150px;
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
    margin: 45% 3px;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
}
.arrowBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewer {
    height: 80%;
    width: 100%;
    background: red;
    margin-top: 200px;
}

@media screen and (max-width: 650px) {
    .imageList::-webkit-scrollbar {
        display: none;
    }
}