.itemBox {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.itemBox::-webkit-scrollbar {
    height: 10px;
    border: 1px solid #dac293;
}

.itemBox::-webkit-scrollbar-track {
    /* background: #DACFB9; */
}

.itemBox::-webkit-scrollbar-thumb {
    background: #cfa3b7;
    border-radius: 10px;
}
.empty {
    padding: 0 20%;
}
.modalFrameWrapper {
    display: none;
}

.modalFrameWrapper.show {
    display: block;
    width: calc(100vw - 17px);
    height: 100vh;
    position: absolute;
    /* top: -50%; */
    z-index: 100;
    border: 2px solid red;
}
.arrowBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 650px) {
    .itemBox::-webkit-scrollbar {
        display: none;
    }
}


