.wrapper {
    width: 100%;
    height: 250px;
    background: #604051;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.containerLeft,
.containerMiddle,
.containerRight {
    height: 100%;
}
.containerLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logoBox {
    width: 250px;
    height: 80px;
    overflow: hidden;
    margin-top: 25px;
}
.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.name {
    color: #ECD4DF;
    font-size: 1.0rem;
    margin: 0;
}

.containerMiddle {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.link {
    color: #ECD4DF;
    font-size: 1.0rem;
}
.link:hover {
    color: #ECD4DF;
    text-decoration: none;
}
.containerRight {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
}
.row {
    display: flex;
    align-items: center;
}
.text {
    margin-left: 10px;
    color: #ECD4DF;
}
.text a,
.text a:hover,
.text a:active {
    color: #ECD4DF;
    text-decoration: none;
}
.linkSachko {
    color: #ECD4DF;
}
.linkSachko:hover {
    color: #ECD4DF;
}
@media screen and (max-width: 650px) {
    .wrapper {
        flex-direction: column-reverse;
        height: auto;
    }
    .containerLeft {
        height: auto;
        width: 100%;
    }
    .containerLeft a,
    .containerLeft p {
        font-size: 0.8rem;
    }
    .containerLeft p {
        margin-top: 3%;
    }
    .containerMiddle {
        width: 100%;
        margin-top: 3%;
        justify-content: center;
        align-items: center;
    }
    .containerMiddle a {
        font-size: 0.8rem;
        margin: 1% 0;
    }
    .containerRight {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .logoContainer {
        width: 25px;
        height: 25px;
        object-fit: contain;
        object-position: center;
    }
    .logoContainer img {
        width: 100%;
        height: 100%;
    }
    .row {
        width: 165px;
        margin: 1% 0;
    }
    .text {
        font-size: 0.8rem;
    }

}