.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0.2;
    overflow-y: hidden;
}
@media screen and (max-width: 650px) {
    .icon {
        width: 4%;
        height: 4%;
    }
}
/* Icons rows */

/* 1 */
.icon:nth-last-of-type(1),
.icon:nth-last-of-type(2),
.icon:nth-last-of-type(3),
.icon:nth-last-of-type(4),
.icon:nth-last-of-type(5),
.icon:nth-last-of-type(6),
.icon:nth-last-of-type(7),
.icon:nth-last-of-type(8),
.icon:nth-last-of-type(9),
.icon:nth-last-of-type(10) {
    top: 15%;
}

/* 2 */
.icon:nth-last-of-type(11),
.icon:nth-last-of-type(12),
.icon:nth-last-of-type(13),
.icon:nth-last-of-type(14),
.icon:nth-last-of-type(15),
.icon:nth-last-of-type(16),
.icon:nth-last-of-type(17),
.icon:nth-last-of-type(18),
.icon:nth-last-of-type(19) {
    top: 25%;
}

/* 3 */
.icon:nth-last-of-type(20),
.icon:nth-last-of-type(21),
.icon:nth-last-of-type(22),
.icon:nth-last-of-type(23),
.icon:nth-last-of-type(24),
.icon:nth-last-of-type(25),
.icon:nth-last-of-type(26),
.icon:nth-last-of-type(27),
.icon:nth-last-of-type(28),
.icon:nth-last-of-type(29) {
    top: 35%;
}

/* 4 */
.icon:nth-last-of-type(30),
.icon:nth-last-of-type(31),
.icon:nth-last-of-type(32),
.icon:nth-last-of-type(33),
.icon:nth-last-of-type(34),
.icon:nth-last-of-type(35),
.icon:nth-last-of-type(36),
.icon:nth-last-of-type(37),
.icon:nth-last-of-type(38) {
    top: 45%;
}

/* 5 */
.icon:nth-last-of-type(39),
.icon:nth-last-of-type(40),
.icon:nth-last-of-type(41),
.icon:nth-last-of-type(42),
.icon:nth-last-of-type(43),
.icon:nth-last-of-type(44),
.icon:nth-last-of-type(45),
.icon:nth-last-of-type(46),
.icon:nth-last-of-type(47),
.icon:nth-last-of-type(48) {
    top: 55%;
}

/* 6 */
.icon:nth-last-of-type(49),
.icon:nth-last-of-type(50),
.icon:nth-last-of-type(51),
.icon:nth-last-of-type(52),
.icon:nth-last-of-type(53),
.icon:nth-last-of-type(54),
.icon:nth-last-of-type(55),
.icon:nth-last-of-type(56),
.icon:nth-last-of-type(57) {
    top: 65%;
}

/* 6 */
.icon:nth-last-of-type(58),
.icon:nth-last-of-type(59),
.icon:nth-last-of-type(60),
.icon:nth-last-of-type(61),
.icon:nth-last-of-type(62),
.icon:nth-last-of-type(63),
.icon:nth-last-of-type(64),
.icon:nth-last-of-type(65),
.icon:nth-last-of-type(66),
.icon:nth-last-of-type(67) {
    top: 75%;
}


/* Icons columns */

/* 1 */
.icon:nth-last-of-type(1),
.icon:nth-last-of-type(20),
.icon:nth-last-of-type(39),
.icon:nth-last-of-type(58) {
    left: 5%;
}

/* 2 */
.icon:nth-last-of-type(11),
.icon:nth-last-of-type(30),
.icon:nth-last-of-type(49) {
    left: 10%;
}

/* 3 */
.icon:nth-last-of-type(2),
.icon:nth-last-of-type(21),
.icon:nth-last-of-type(40),
.icon:nth-last-of-type(59) {
    left: 15%;
}

/* 4 */
.icon:nth-last-of-type(12),
.icon:nth-last-of-type(31),
.icon:nth-last-of-type(50) {
    left: 20%;
}

/* 5 */
.icon:nth-last-of-type(3),
.icon:nth-last-of-type(22),
.icon:nth-last-of-type(41),
.icon:nth-last-of-type(60) {
    left: 25%;
}

/* 6 */
.icon:nth-last-of-type(13),
.icon:nth-last-of-type(32),
.icon:nth-last-of-type(51) {
    left: 30%;
}

/* 7 */
.icon:nth-last-of-type(4),
.icon:nth-last-of-type(23),
.icon:nth-last-of-type(42),
.icon:nth-last-of-type(61) {
    left: 35%;
}

/* 8 */
.icon:nth-last-of-type(14),
.icon:nth-last-of-type(33),
.icon:nth-last-of-type(52) {
    left: 40%;
}

/* 9 */
.icon:nth-last-of-type(5),
.icon:nth-last-of-type(24),
.icon:nth-last-of-type(43),
.icon:nth-last-of-type(62) {
    left: 45%;
}

/* 10 */
.icon:nth-last-of-type(15),
.icon:nth-last-of-type(34),
.icon:nth-last-of-type(53) {
    left: 50%;
}

/* 11 */
.icon:nth-last-of-type(6),
.icon:nth-last-of-type(25),
.icon:nth-last-of-type(44),
.icon:nth-last-of-type(63) {
    left: 55%;
}

/* 12 */
.icon:nth-last-of-type(16),
.icon:nth-last-of-type(35),
.icon:nth-last-of-type(54) {
    left: 60%;
}

/* 13 */
.icon:nth-last-of-type(7),
.icon:nth-last-of-type(26),
.icon:nth-last-of-type(45),
.icon:nth-last-of-type(64) {
    left: 65%;
}

/* 14 */
.icon:nth-last-of-type(17),
.icon:nth-last-of-type(36),
.icon:nth-last-of-type(55) {
    left: 70%;
}

/* 15 */
.icon:nth-last-of-type(8),
.icon:nth-last-of-type(27),
.icon:nth-last-of-type(46),
.icon:nth-last-of-type(65) {
    left: 75%;
}

/* 16 */
.icon:nth-last-of-type(18),
.icon:nth-last-of-type(37),
.icon:nth-last-of-type(56) {
    left: 80%;
}

/* 17 */
.icon:nth-last-of-type(9),
.icon:nth-last-of-type(28),
.icon:nth-last-of-type(47),
.icon:nth-last-of-type(66) {
    left: 85%;
}

/* 19 */
.icon:nth-last-of-type(19),
.icon:nth-last-of-type(38),
.icon:nth-last-of-type(57) {
    left: 90%;
}

/* 20 */
.icon:nth-last-of-type(10),
.icon:nth-last-of-type(29),
.icon:nth-last-of-type(48),
.icon:nth-last-of-type(67) {
    left: 95%;
}

/* Custom position */
.icon:nth-last-of-type(68) {
    top: 5%;
    left: 10%
}
.icon:nth-last-of-type(69) {
    top: 5%;
    left: 20%
}
.icon:nth-last-of-type(70) {
    top: 5%;
    left: 60%
}
.icon:nth-last-of-type(71) {
    top: 5%;
    left: 70%
}
.icon:nth-last-of-type(72) {
    top: 85%;
    left: 10%
}
.icon:nth-last-of-type(73) {
    top: 85%;
    left: 40%
}
.icon:nth-last-of-type(74) {
    top: 85%;
    left: 40%
}
.icon:nth-last-of-type(75) {
    top: 85%;
    left: 50%
}
.icon:nth-last-of-type(76) {
    top: 85%;
    left: 80%
}
.icon:nth-last-of-type(78) {
    top: 85%;
    left: 90%
}